

  @media screen and (max-width: 768px) {
    html {
      .navigation{
        width: 40vw;
        height: 380px;
      }
    }
  }

  @media screen and (max-width: 450px) {
    html {
      .navigation{
        width: 40vw;
        height: 300px;
      }
    }
  }
  