* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.nav-mobile i {
  color: #ffff;
}

.nav-mobile {
  font-size: 1.5em;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: none;
}

